*.iml
.gradle
/local.properties
/.idea/*
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/dictionaries
/.idea/shelf
/.idea/misc.xml
/.idea/jarRepositories.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
/app/release
/ktlint
/ktlint.asc
/buildSrc
/src/generated

/app/src/main/res/xml/network_security_config.xml
/buildSrc/.gradle
/buildSrc/build/*
*.apk
.gradle/6.1.1/executionHistory/executionHistory.bin
.gradle/6.1.1/executionHistory/executionHistory.bin
*.bin
*.bin
*.lock
